@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark *]));

/* any class that goes dark: will be applied*/



[data-theme="dark"] body {
  background-color: #222;
  color: #f6f6f6;
}

[data-theme="light"] body {
  background-color: #f6f6f6;
  color: #222;
}

.container {
  margin-top: 80px;
  grid-area: 1/1;
  z-index: -1;
}